#grpMsgForm {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#grpMsgInput {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#grpMsgInput:focus {
  outline: none;
}
#grpMsgForm > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

#typing {
  opacity: 0.5;
}

#grid-container {
  display: grid;
  grid-template-columns: 3fr 24%;
}

#listOfUsers {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem 20px;
  overflow: hidden;
  background-color: white;
  z-index: 100;
  border-bottom-left-radius: 20px;
  /* height: calc(100% - 48px); */
}

#connectedUsers {
  list-style: none;
  padding: 0;
}

#privateMsgs {
  padding-bottom: 30%;
}

.privMsg > li {
  padding: 0.5rem 1rem;
}
.privMsg > li:nth-child(odd) {
  background: #efefef;
}

.input-group {
  max-width: 600px;
}

li {
  list-style: none;
}

@media (max-width: 991.98px) {
  #listOfUsers {
    visibility: hidden;
  }
}
